<%- include("../templates/cabecera") %>



    <style>
    


    
    </style>
    </head>

    <body onload="main()" style="background-color: #0b0418;">
        <%- include("../templates/menu") %>

        

        <div class="container " style="color: white;">
            <h3 class="text-center my-3">Informaci贸n de la publicaci贸n</h3>
            <table class="table table-bordered d-flex justify-content-center" style="color: white;">
              <tr>
                <th>Titulo:</th>
                <td id="titulo"></td>
              </tr>
              <tr>
                <th>Empresa:</th>
                <td id="empresa"></td>
              </tr>
              <tr>
                <th>Estudios:</th>
                <td id="estudios"></td>
              </tr>
              <tr>
                <th>Tipo de convenio:</th>
                <td id="convenio"></td>
              </tr>
              <tr>
                <th>Municipio:</th>
                <td id="municipio"></td>
              </tr>
              <tr>
                <th>Direcci贸n:</th>
                <td id="direccion"></td>
              </tr>
              <tr>
                <th>Descripci贸n del puesto:</th>
                <td id="desc"></td>
              </tr>
              <tr>
                <th>Caduca:</th>
                <td id="caduca"></td>
              </tr>
            </table>
           
            <div>
             
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" onclick="inscribeme('<%= user._id %>')">Inscribeme</button>
            </div>
            
          </div>

    </body>


    <script>
        const publi = JSON.parse('<%- publi %>')
        async function main() {
            
            const empr = await retEmpresa(publi.companyId)



            document.getElementById('titulo').innerHTML = publi.titulo;

            document.getElementById('estudios').innerHTML = publi.filtroEstudios

            document.getElementById('municipio').innerHTML = publi.filtroMunicipio

            document.getElementById('empresa').innerHTML = empr.name

            document.getElementById('direccion').innerHTML = empr.calle + " " + empr.numeroCalle

            document.getElementById('convenio').innerHTML = publi.tipo

            document.getElementById('desc').innerHTML = publi.texto

            document.getElementById('caduca').innerHTML = publi.caducidad
        }
        async function retEmpresa(id) {
            const response = await fetch('http://localhost:3000/company/show/' + id);
            const data = await response.json();
            return data;
        }

        async function inscribeme(idUser){


            let object = { "publicationId":publi.id,"userId":idUser}

            let jsonString = JSON.stringify(object)


            fetch('http://localhost:3000/inscription/create',
                        {
                            method: "POST",
                            body: jsonString,
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })

            
                        alert("Se ha inscrito correctamente")
        }



    </script>