<%-include("./templates/cabecera")%>
</head>
<body style="background-color: rgb(187, 190, 190);" >
  <%-include ("./templates/menu") %>
  <br>
  <div class="modal modal-sheet position-static d-inline-block bg-body-secondary " tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Iniciar sessi칩n como usuario</h1>
          
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form action="/login/user" method="post" id="formulario">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" id="email" name="email" placeholder="name@example.com" required>
              <label for="email">Correo electr칩nico</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="password" name="password" placeholder="Password" required>
              <label for="password">Contrase침a</label>
            </div>
            <% if (signinMessage.length > 0) { %>
              
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><%= signinMessage %></strong> 
                
              </div>
                
            <% } %>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Iniciar sessi칩n</button>
            <small class="text-body-secondary">No tienes una cuenta? <a href="/register/user">Registrate</a>.</small>
            <br>
            
          </form>
        </div>
      </div>
    </div>
  </div>


  </div>
      
</body>
</html>