<div class="collapse text-bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4>About</h4>
        <p class="text-body-secondary">Add some information about the album below, the author, or any other background
          context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to
          some social networking sites or contact information.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4>Contact</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Follow on Twitter</a></li>
          <li><a href="#" class="text-white">Like on Facebook</a></li>
          <li><a href="#" class="text-white">Email me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% if (user !=undefined && user.type=="company" ) { %>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div>
      <a href="/company/home" class="navbar-brand ">
        &nbsp;
        <strong>Home</strong>
      </a>

      <a href="" class="navbar-brand " data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        &nbsp;
        <strong>Contacto</strong>
      </a>
    </div>
    <div>

      <a href="/profile" class="navbar-brand ">
        &nbsp;
        <strong>Profile</strong>
      </a>
    </div>
    <div>

    </div>
    <div>
      <a href="/login" class="navbar-brand ">
        <strong>Company</strong>
      </a>
      <a href="/logout" class="navbar-brand ">
        <strong>Logout</strong>
      </a>

      &nbsp;
    </div>


  </div>
  <%}else if(user !=undefined && user.type=="user" ){ %>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div>
        <a href="/" class="navbar-brand ">
          &nbsp;
          <strong>Home</strong>
        </a>

        <a href="" class="navbar-brand " data-bs-toggle="collapse" data-bs-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          &nbsp;
          <strong>Contacto</strong>
        </a>
      </div>

      <div>


        <a href="/profile" class="navbar-brand ">
          &nbsp;
          <strong>Profile</strong>
        </a>
      </div>
      <div>
      </div>
      <div>
        <a href="/login" class="navbar-brand ">
          <strong>Usuario</strong>
        </a>
        <a href="/logout" class="navbar-brand ">
          <strong>Logout</strong>
        </a>

        &nbsp;
      </div>
    </div>
    <% } else{ %>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div>
          <a href="/" class="navbar-brand ">
            &nbsp;
            <strong>Home</strong>
          </a>


          <a href="" class="navbar-brand " data-bs-toggle="collapse" data-bs-target="#navbarHeader"
            aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            &nbsp;
            <strong>Contacto</strong>
          </a>
        </div>
        <div>
          <a href="/login" class="navbar-brand ">
            <strong>Iniciar Sesion </strong>
          </a>
          <a href="/register" class="navbar-brand ">
            <strong>Registrarse</strong>
          </a>

          &nbsp;
        </div>
      </div>
      <%}%>