<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/estilos/companyform.css">
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>Da de alta tu empresa</h1>

      </div>
      <form action="/" id="formulario">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Register here</h2>
        </div>
        <div class="info">
          <input  type="text" name="name" placeholder="Nombre de la empresa">
          <input type="text" name="email" placeholder="Email">
          <input type="pass" name="password" id="password" placeholder="Password">
          <input type="number" name="numeroTelefono" placeholder="Numero Telefono" maxlength="9">
          <input type="text" name="calle" placeholder="Calle">
          <input type="number" name="numeroCalle" placeholder="Numero Calle ">
          <input type="text" name="municipio" placeholder="Municipio">
          <input type="number" name="codigoPostal" placeholder="Codigo Postal">
          <input type="text" name="nif" placeholder="NIF">
        </div>
        <button type="submit" href="/">Submit</button>
      </form>
    </div>
  </body>

  <script src="/views/company/companyscript.js"></script>
</html>