<%- include("../templates/cabecera") %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
		.left-div {
			background-color: #f2f2f2;
			float: left;
			width: 48%;
			height: 100vh;
			padding: 2%;
			margin-right: 2%;
            margin-top: 3%;
            margin-bottom: 3%;
		}

		.right-div {
			background-color: #f2f2f2;
			float: right;
			width: 48%;
			height: 100vh;
			display: flex;
			justify-content: center;
            padding: 2%;
			margin-left: 2%; 
            margin-top: 3%;
            margin-bottom: 3%;
		}




    </style>
    </head>


    <body>


        <%- include("../templates/menu") %>






        <div class="container-fluid">
            <!-- Div de la izquierda -->
            <div class="left-div">
                <h1>Información del usuario</h1>
                <p>Nombre: John Doe</p>
                <p>Correo electrónico: john.doe@example.com</p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Crear Publicacion
                </button>
            </div>
            <!-- Div de la derecha -->
            <div class="right-div">
                <h2>Contenido del div de la derecha</h2>
                <p>Este es un ejemplo de contenido alineado al centro</p>
            </div>
        </div>
















            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="formulario">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crear Publicacion</h5>

                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="titulo">Titulo del anuncio</label>
                                    <input type="text" class="form-control" id="titulo" name="titulo"
                                        placeholder="Titulo" required>
                                </div>
                                <div class="form-group">
                                    <label for="texto">Descripcion del puesto</label>
                                    <textarea class="form-control" id="texto" name="texto" rows="10"
                                        required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="filtroEstudios">Estudios</label>
                                    <input type="text" class="form-control" id="filtroEstudios" name="filtroEstudios"
                                        placeholder="SMX" required>
                                </div>
                                <div class="form-group">
                                    <label for="filtroMunicipio">Municipio</label>
                                    <input type="text" class="form-control" id="filtroMunicipio" name="filtroMunicipio"
                                        placeholder="Girona" required>
                                </div>

                                <div class="form-group">
                                    <label for="tipo">Tipo de practicas</label>
                                    <select class="form-control" id="tipo" name="tipo" required>
                                        <option>FCT</option>
                                        <option>DUAL</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="titulo">Caducidad</label>
                                    <input class="form-control" type="date" name="caducidad" id="caducidad" required>
                                </div>

                                <input type="text" name="idc" id="idc" value="<%= user._id %>" hidden>
                                <br>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                    </form>
                </div>
            </div>



            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

            <script>


                const miFormulario = document.getElementById("formulario");

                miFormulario.addEventListener("submit", async function (event) {
                    console.log("aaaa")
                    let idc = document.getElementById('idc').value
                    event.preventDefault(); // evita que el formulario se envíe por defecto

                    const formData = new FormData(miFormulario); // crea un objeto FormData con los datos del formulario
                    const jsonData = {};
                    miFormulario.reset()
                    for (const [key, value] of formData.entries()) {
                        jsonData['id'] = await idmax2()
                        jsonData['companyId'] = idc;
                        jsonData[key] = value;
                    }

                    if (jsonData['id'] == undefined) {
                        jsonData['id'] = 1;
                    }


                    const jsonString = JSON.stringify(jsonData); // convierte el objeto a una cadena JSON

                    console.log(jsonString); // muestra la cadena JSON en la consola (puede ser enviada al servidor)

                    fetch('http://localhost:3000/publication/create',
                        {
                            method: "POST",
                            body: jsonString,
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })

                });



                function returnMaxId2() {
                    return fetch('http://localhost:3000/publication/idmax')
                        .then((res) => res.json());

                }

                async function idmax2() {

                    const response = await returnMaxId2();

                    try {

                        let abc = response[0].id;
                        return abc + 1;
                    } catch (error) {
                        console.log("no hi ha cap publicacio a la BDD, pero hem posat que la id default sigui 0 , aquest misatge salta igual pero funciona tot");
                    }
                }

                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus')
                })






            </script>
    </body>