<%- include("../templates/cabecera") %>
    </head>


    <body>

        <%- include("../templates/menu") %>
            <div class="container-fluid">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Launch demo modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form id="formulario">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Crear Publicacion</h5>

                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="titulo">Titulo del anuncio</label>
                                        <input type="text" class="form-control" id="titulo" name="titulo"
                                            placeholder="Titulo" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="texto">Descripcion del puesto</label>
                                        <textarea class="form-control" id="texto" name="texto" rows="10" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="filtroEstudios">Estudios</label>
                                        <input type="text" class="form-control" id="filtroEstudios"
                                            name="filtroEstudios" placeholder="SMX" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="filtroMunicipio">Municipio</label>
                                        <input type="text" class="form-control" id="filtroMunicipio"
                                            name="filtroMunicipio" placeholder="Girona" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="tipo">Tipo de practicas</label>
                                        <select class="form-control" id="tipo" name="tipo" required>
                                            <option>FCT</option>
                                            <option>DUAL</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="titulo">Caducidad</label>
                                        <input class="form-control" type="date" name="caducidad" id="caducidad" required>
                                    </div>

                                    <input type="text" name="idc" id="idc" value="<%= user._id %>" hidden>
                                    <br>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                </div>
                        </form>
                    </div>
                </div>
            </div>

            </div>

            <script>


                const miFormulario = document.getElementById("formulario");

                miFormulario.addEventListener("submit", async function (event) {
                    console.log("aaaa")
                    let idc = document.getElementById('idc').value
                    event.preventDefault(); // evita que el formulario se envíe por defecto

                    const formData = new FormData(miFormulario); // crea un objeto FormData con los datos del formulario
                    const jsonData = {};
                    miFormulario.reset()
                    for (const [key, value] of formData.entries()) {
                        jsonData['id'] = await idmax2()
                        jsonData['companyId'] = idc;
                        jsonData[key] = value;
                    }

                    if (jsonData['id'] == undefined) {
                        jsonData['id'] = 1;
                    }

                   
                    const jsonString = JSON.stringify(jsonData); // convierte el objeto a una cadena JSON

                    console.log(jsonString); // muestra la cadena JSON en la consola (puede ser enviada al servidor)

                    fetch('http://localhost:3000/publication/create',
                        {
                            method: "POST",
                            body: jsonString,
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })

                });



                function returnMaxId2() {
                    return fetch('http://localhost:3000/publication/idmax')
                        .then((res) => res.json());

                }

                async function idmax2() {

                    const response = await returnMaxId2();

                    try {

                        let abc = response[0].id;
                        return abc + 1;
                    } catch (error) {
                        console.log("no hi ha cap publicacio a la BDD, pero hem posat que la id default sigui 0 , aquest misatge salta igual pero funciona tot");
                    }
                }

                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus')
                })






            </script>
    </body>