<%- include("../templates/cabecera") %>


  </head>


<body style="background-color: rgb(187, 190, 190);">
  <%-include("../templates/menu")%>
  <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Change Password</h1>
        </div>
        <div class="modal-body p-5 pt-0">
          <form action="/password/<%=user._id%>" method="post">
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="currentpassword" name="currentpassword" placeholder="currentpassword" required>
              <label for="currentpassword">Current password            </label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="newpassword" name="newpassword" placeholder="newpassword" required>
              <label for="repeatpassword">new password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" id="repeatpassword" name="repeatpassword" placeholder="repeatpassword" required>
                <label for="repeatpassword">Repeat password</label>
              </div>
            <% if (signupMessage.length > 0) { %>
              
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><%= signupMessage %></strong> 
                
              </div>
                
            <% } %>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Update password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
      <!-- <script src="/views/user/userScript.js"></script> -->
</body>
</html>