<%- include("../templates/cabecera") %>

    <link rel="stylesheet" href="/estilos/userhome.css">
    <link rel="stylesheet" href="/estilos/homemap.css">
    </head>


    <body onload="construirPublicaciones()">

        <%- include("../templates/menu") %>



            <div class="offcanvas offcanvas-start" style="width: 18%;" tabindex="-1" id="offcanvas"
                data-bs-keyboard="false" data-bs-backdrop="false">
                <div class="offcanvas-header">
                    <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Filtros</h6>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body px-0">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">

                        <li>
                            <div class="pac-card" id="pac-card">
                                <div id="pac-container">
                                    <input style="width: 95%;" id="pac-input" class="changetype-cities" type="text"
                                        placeholder="Enter a location" />
                                </div>
                                <div id="infowindow-content">
                                    <span id="place-name" class="title"></span><br />
                                    <span id="place-address"></span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="#" class="nav-link text-truncate">
                                <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-truncate">
                                <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Customers</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid">

                <div class="col" style="margin-left: 19%; margin-top: 3%; float: left;">

                    <!-- toggler -->
                    <button class="btn btn-secondary " data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                        role="button">
                        <i class="bi bi-arrow-left-square-fill fs-5" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvas">Filtros</i>
                    </button>
                    <div id="map" style="min-height: 500px; max-height: 500px;min-width: 500px; max-width: 500px; ">
                    </div>

                </div>
                <div id="listado_publicaciones" class="row"
                    style=" float: right;height: 500px; width: 500px; margin-top: 7%;">


                </div>

                <div style="margin-top: 5%;">
                    Estudios<select name="estudios" id="estudios"></select>
                    Municipios<select name="municipios" id="municipios"></select>
                    <button class="btn-secondary" onclick="filtrar()">filtrar</button>
                </div>
            </div>

            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            <script src="/classes.js"></script>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy4davONQxs6wZWaHOR7KLPPgRJig8L_w&callback=initMap&libraries=places&v=weekly"
                defer></script>
            <script src="/views/user/homemap.js"></script>

            <script>
                let FiltEstudi = ""
                let FiltMuni = ""
                var publications = []


                function cargarPublicacionesDB() {

                    return fetch('http://localhost:3000/publication/show')
                        .then((res) => res.json())


                }


                async function construirPublicaciones() {
                    let response = await cargarPublicacionesDB()

                    response.forEach(element => {

                        if (element.active = true) {
                            publications.push(new Publication(
                                element.id,
                                element.idCompany,
                                element.titulo,
                                element.texto,
                                element.filtroEstudios,
                                element.filtroMunicipio,
                                element.caducidad,
                                element.active
                            ))
                        }

                    });

                    mostrarPublicaciones()

                }

                function mostrarPublicaciones() {
                    
                    let filtrado = []
                    document.getElementById('listado_publicaciones').innerHTML = ""
                    if (FiltEstudi == "" && FiltMuni == "") {

                        filtrado = publications
                    }

                    if (!FiltEstudi == "") {
                        let aux = []
                        publications.forEach(element => {
                            if (element.getEstudios() == FiltEstudi) {
                                aux.push(element)
                            }
                        })
                            filtrado = aux;
                    }
                    
                    if (!FiltMuni == "") {
                        let aux = []
                        if (aux.length > 0) {
                            filtrado.forEach(element => {
                                if (element.getMunicipio() == FiltMuni) {
                                    aux.push(element)
                                }
                            })
                        } else {
                            publications.forEach(element => {
                                if (element.getMunicipio() == FiltMuni) {
                                    aux.push(element)
                                }
                            })
                        }
                        filtrado = aux;
                    }
                        mostrar(filtrado)
                }


                function mostrar(a){
                    a.forEach(element => {
                            publi = document.createElement('div')
                            publi.appendChild(document.createTextNode("Titulo: " + element.getTitulo() + "."));
                            publi.appendChild(document.createElement('br'))
                            publi.appendChild(document.createTextNode("Dexc: " + element.getTexto()));
                            publi.appendChild(document.createElement('br'))
                            publi.appendChild(document.createTextNode("Estudios: " + element.getEstudios()));
                            publi.appendChild(document.createElement('br'))
                            publi.appendChild(document.createTextNode("Municipio: " + element.getMunicipio()));
                            publi.appendChild(document.createElement('br'))
                            let a = document.createElement('a')
                            a.href = "/publication/" + element.getId();
                            a.innerHTML = "ver mas "
                            publi.appendChild(a)
                            document.querySelector('#listado_publicaciones').appendChild(publi);

                        })
                        filtroEstudios()
                }

                function filtroEstudios() {
                    document.getElementById('estudios').innerHTML = ""
                    document.getElementById('municipios').innerHTML = ""
                    let result = []
                    let estudios = []
                    let muni = []
                    publications.forEach(element => {

                        estudios.push(element.getEstudios())
                        muni.push(element.getMunicipio())

                    })
                    result = estudios.filter((item, index) => {
                        return estudios.indexOf(item) === index;
                    })
                    result2 = muni.filter((item, index) => {
                        return muni.indexOf(item) === index;
                    })

                    let nada = document.createElement('option')
                    nada.value = ""
                    nada.text = "Nada"
                    document.querySelector('#estudios').appendChild(nada);

                    let nada2 = document.createElement('option')
                    nada2.value = ""
                    nada2.text = "Nada"

                    document.querySelector('#municipios').appendChild(nada2);

                    result.forEach(element => {
                        let opt = document.createElement('option')
                        opt.appendChild(document.createTextNode(element));

                        document.querySelector('#estudios').appendChild(opt);
                    });
                    result2.forEach(element => {
                        let opt = document.createElement('option')
                        opt.appendChild(document.createTextNode(element));

                        document.querySelector('#municipios').appendChild(opt);
                    });



                }


                function filtrar() {

                    FiltEstudi = document.getElementById('estudios').value
                    FiltMuni = document.getElementById('municipios').value


                    mostrarPublicaciones()
                }

            </script>
    </body>