<%-include ("../templates/cabecera") %>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.111.3">
    <title>Album example 路 Bootstrap v5.3</title>







    <!-- Favicons -->

    <meta name="theme-color" content="#712cf9">

    <link rel="stylesheet" href="/estilos/homemap.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }
.a{
    text-align: center;
    width: 100%;
}
        .select-group-container {
            display: inline-block;
            background-color: #f2f2f2;
            width: 70%;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 1%;
            padding: 1%;
        }

        .select-group {
            display: flex;

            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .select-container {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        .select-container:last-child {
            margin-right: 0;
        }

        .select-label {
            margin-right: 5px;
            font-weight: bold;
            color: #333;
        }

        .select-style {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            font-size: 14px;
            padding: 5px 10px;
            cursor: pointer;
            width: 200px;
        }

        .btn-secondary {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

        .btn:active {
            background-color: #c82333;
            border-color: #bd2130;
            box-shadow: none;
        }
    </style>


    </head>

    <body onload="construirPublicaciones()">

        <header data-bs-theme="dark">
            <%-include("../templates/menu")%>

        </header>

        <main>

            <section class="py-2 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto" id="map">

                    </div>




                </div>
            </section>

            <div class="text-center">
                <h4>Filtros:</h4>
                <br>

                <div class="a">
                <div class="select-group-container">
                    <div class="select-group">
                        <div class="select-container">
                            <label for="estudios" class="select-label">Estudios:</label>
                            <select name="estudios" id="estudios" class="select-style">
                                <option value="">Selecciona una opci贸n</option>
                            </select>
                        </div>
                        <div class="select-container">
                            <label for="municipios" class="select-label">Municipio:</label>
                            <select name="municipios" id="municipios" class="select-style">
                                <option value="">Selecciona una opci贸n</option>
                            </select>
                        </div>
                        <div class="select-container">
                            <label for="municipios" class="select-label">Tipo:</label>
                            <select name="tipo" id="tipo" class="select-style">
                                <option value="">Selecciona una opci贸n</option>
                                <option value="FCT">FCT</option>
                                <option value="DUAL">DUAL</option>
                            </select>
                        </div>

                        <button class="btn btn-secondary" onclick="filtrar()">Filtrar</button>
                    </div>
                </div>
            </div>











                <div class="album py-5 bg-body-tertiary">
                    <div class="container">
                        <div id="listado_publicaciones" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                        </div>
                    </div>

                </div>
                <div class="pac-card" id="pac-card">
                    <div id="pac-container">
                        <input style="width: 95%;" id="pac-input" class="changetype-cities" type="text"
                            placeholder="Enter a location" />
                    </div>
                    <div id="infowindow-content">
                        <span id="place-name" class="title"></span><br />
                        <span id="place-address"></span>
                    </div>
                </div>

        </main>
        <script src="/classes.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy4davONQxs6wZWaHOR7KLPPgRJig8L_w&callback=initMap&libraries=places&v=weekly"
            defer></script>
        <script src="/views/user/homemap.js"></script>

        <script src="/views/user/publications.js"></script>
    </body>

    </html>