<%- include("../templates/cabecera") %>

<link href="/estilos/alumnostyle.css" rel="stylesheet">
  </head>


  <body>
    
    <%- include("../templates/menu") %>
<main class="form-signin w-100 m-auto">
  <br><br>
  <form action="/register/user" method="post" id="formulario">
    <h1 class="h3 mb-3 fw-normal">Registrar usuario</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="Full name">
      <label for="floatingInput">Full name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="email">
      <label for="floatingPassword">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="password">
      <label for="floatingInput">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="repeatpasword" name="repeatpassword" placeholder="repeat password">
      <label for="floatingInput">Repeat password</label>
    </div>
    

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="enviar">Sign in</button>
  </form>
</main>

<script src="/views/user/userScript.js"></script>
    
  </body>